---
{
	"title": "Do action - Testing",
	"language": "en",
	"category": "Plugins",
	"description": "Do action - Testing",
	"tag": "doaction",
	"parentdir": "doaction",
	"altLangPage": "json-fr.html",
	"dateModified": "2022-07-13"
}
---

<div class="container">

	<div class="row">

	<h2>Do action1</h2>

	<p><button class="btn btn-default" data-wb-doaction="{&quot;action&quot;: &quot;addClass&quot;, &quot;source&quot;: &quot;#example1&quot;, &quot;class&quot;: &quot;bg-info&quot;}">Pressing this button...</button></p>

	<div id="example1"><p>…should make this background blue</p></div>



	<!-- <h2>Multimedia Player Video</h2>

	<figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "https://wet-boew.github.io/v4.0-ci/demos/multimedia/multimedia-en.html"}'>

				<video title="Looking for a Job">

							<source type="video/webm" src="https://wet-boew.github.io/wet-boew-attachments/videos/video1-en.webm" />

							<source type="video/mp4" src="https://wet-boew.github.io/wet-boew-attachments/videos/video1-en.mp4" />

				</video>

				<figcaption>

							<p>Looking for a Job (<a href="cpts-lg-en.html">Transcript</a>)</p>

				</figcaption>

	</figure> -->



	<!-- <h2>Do action2</h2>

	<p><button class="btn btn-default" data-wb-doaction="{&quot;action&quot;: &quot;addClass&quot;, &quot;source&quot;: &quot;#example2&quot;, &quot;class&quot;: &quot;bg-info&quot;}">Pressing this button...</button></p>

	<div id="example2"><p>…should make this background blue</p></div> -->

	<h2>Multimedia Player - YouTube</h2>

	<figure class="wb-mltmd" data-wb-mltmd='{"shareUrl": "https://www.youtube.com/embed?v=9znKJqnFuuY"}'>

				<video title="Suspect">

							<source type="video/youtube" src="https://www.youtube.com/embed?v=9znKJqnFuuY" />

				</video>

				<figcaption>

							<p>Suspect</p>

				</figcaption>

	</figure>

	<h2>Do action3</h2>

	<p><button class="btn btn-default" data-wb-doaction="{&quot;action&quot;: &quot;addClass&quot;, &quot;source&quot;: &quot;#example3&quot;, &quot;class&quot;: &quot;bg-info&quot;}">Pressing this button...</button></p>

	<div id="example3"><p>…should make this background blue</p></div>

	</div>

	</div>
